version: "3.9"

services:
  ros2_eth:
    image: eth_sys:ros2
    stdin_open: true # keep stdin open
    privileged: true
    network_mode: host # Critical for ROS2 DDS discovery
    ipc: host # Share host IPC (good for performance with host networking)
    environment:
      - DISPLAY
      - XAUTHORITY=/tmp/.Xauthority
      - NVIDIA_DRIVER_CAPABILITIES=all
      - __NV_PRIME_RENDER_OFFLOAD=1
      - __GLX_VENDOR_LIBRARY_NAME=nvidia
      - NVIDIA_VISIBLE_DEVICES=all
    volumes:
      - ~/.Xauthority:/root/.Xauthority # share the Xauthority file with the host
      - /tmp/.X11-unix:/tmp/.X11-unix:rw # share the X11 socket with the host
      - /dev/shm:/dev/shm # share the shared memory with the host 
      - ../On-Track-SysID:/workspace/src/On-Track-SysID/
      - ../f1tenth_simulator:/workspace/src/f1tenth_simulator_ros/
      - ../pure_pursuit:/workspace/src/pure_pursuit/
      - ../driving_style1.csv:/workspace/driving_style1.csv
      - ../driving_style2.csv:/workspace/driving_style2.csv
    working_dir: /workspace
    command: bash
